extends ../layout

block content
	.container
		.row
		table.table.table-hover.table-bordered.table-striped
			thead
				tr
					th 名字
					th 录入时间
					th 已有电影
					th 更新
					th 删除
			tbody
				each item in categories
					tr(class="item-id-#{item._id}")
						td= item.name
						td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
						td: a(target="_blank", href="/results?cat=#{item._id}&p=0") &nbsp;#{item.movies.length}&nbsp;部
						td: a(target="_blank", href="/admin/category/update/#{item._id}") 修改
						td
							button.btn.btn-danger.del(type="button", data-id="#{item._id}") 删除
	script(src="/js/categorylist.js")