extends ../layout

block content
	.container
		.row

			each cat in categories
				.panel.panel-default
					.panel-heading
						a(href="#",style="text-decoration:none; font-size:22px") #{cat.name}
						a(href="/results?cat=#{cat._id}&p=0",style="text-decoration:none; display:inline-block; font-size:22px; float:right") 更多
							img(src="/upload/icon/icon_more.png", alt="more")
					//-对电影进行分类
					.panel-body
						if cat.movies && cat.movies.length > 0
							each item in cat.movies
								.col-md-2
									.thumbnail
										a(href="/movie/#{item._id}")
											//-判断如果是绝对地址（http）就直接展现，否则拼出地址
											if item.poster.indexOf('https:') > -1
												img(src="#{item.poster}", alt="#{item.title}")
											else
												img(src="/upload/poster/#{item.poster}", alt="#{item.title}")
										.caption(style="text-align:center")
											h4: a(href="/movie/#{item._id}",target="_blank") #{item.title}
											//- h3 #{item.title}
											//- p: a.btn.btn-primary(href="/movie/#{item._id}", role="button") 观看预告片
