extends ../layout

block content
	.container
		.row
			.panel.panel-default
				.panel-heading
					h3 #{keyword}
				//对电影进行分类
				.panel-body
					if movies && movies.length > 0
						each item in movies
							.col-md-2
								.thumbnail
									a(href="/movie/#{item._id}")
										//-img(src="#{item.poster}", alt="#{item.title}")
										if item.poster.indexOf('https:') > -1
												img(src="#{item.poster}", alt="#{item.title}")
											else
												img(src="/upload/poster/#{item.poster}", alt="#{item.title}")
									.caption(style="text-align:center")
										h4: a(href="/movie/#{item._id}",target="_blank") #{item.title}
			ul.pagination(style="margin:0 auto; width:200px;display: inline;")
				- for(var i = 0; i<totalPage; i++){
					- if(currentPage == (i+1)){
						li.active
							span #{currentPage}
					- }else{
						li
							a(href="/results?#{query}&p=#{i}") #{i + 1}
					- }
				- }
